<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<th:block th:replace="~{/layout/fragments/header :: headerLayout}"></th:block>
<th:block th:replace="~{/layout/fragments/nav :: navLayout}"></th:block>

<th:block layout:fragment="content"></th:block>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
</body>
</html>