<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
    <div th:fragment="commentForm">
        <br>
        <div class="card">
            <div>Write a Comment</div>
            <form>
                <input type="hidden" id="postId" th:value="${post.id}">
                <th:block>
                    <div class="card-body">
                        <textarea id="comment" name="comment" rows="5" cols="80" placeholder="댓글을 입력하세요."></textarea>
                    </div>
                    <div>
                        <button type="button" id="btn-comment-submit">등록</button>
                    </div>
                </th:block>
            </form>
        </div>
    </div>
</body>
</html>