<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
    <div th:fragment="comments">
        <div class="card">
            <ul th:each="comment : ${comments}">
                <li>
                    <span>
                        <span>[[${comment.getNickname()}]]</span>
                        <span>[[${comment.getComment()}]]</span>
                        <button>수정</button>
                        <button>삭제</button>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>